

body{
  margin:0;
  padding:0;
  background-color: antiquewhite;
}

.header {
  background-color: rgb(127, 129, 255);
  color: white;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  padding-right: 20px;

}
.header .logo{
  width: 5%;
}

.about{
  margin-left: auto;
}

.header > a {
  align-self: center;
  font-size: large;
  color: white;
}


button {
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  align-self: center;
  padding: 2px;
  margin: 2px;
  background-color: rgb(199, 28, 15);
  font-size: large;
}

.hero{
  display: flex;
  margin:5px;
  padding: 5px;

}
.hero > img {
    border-radius: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.courseDetails{
  margin-left: auto;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

h4, h1, h3, h2 {
  align-self: center;
  text-align: center;
  margin: 10px;
}
.courseDetails h4{
  color: brown;
}

.courseDetails h1{
  font-family: "Chela One", sans-serif;
  font-size: 3rem;
}
.details{
  display: flex;
  background-color: rgb(210, 221, 221);
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-around;
}


.courseInfo{
  align-self: center;
}

.price{
  background-color: rgb(127, 129, 255);
  padding: 20px;
}
.demoVideo{
  text-align: center;
  padding: 10px;
}

video{
  width:75%;
}

#program{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#program p{
  font-size: large;
}

.aboutCourse{
  padding:auto;
  margin-right:auto;
}

.aboutCourse li{
  text-align: start;
  margin: 5px;
  padding: 5px;
}

.programDetails{
  background-color: rgb(127, 129, 255);
  margin:auto;
  padding:auto;
  width:20%;
}

#mentors{
  display: grid;
  text-align: center;
  grid-template-areas:
    'header header header '
    'main middle right';
    margin:10px;
}

.mentor{
  grid-area: header;
}

.blueText{
  color:blue;
}

.mentors p{
  margin:0;
  padding:0;
}
#aboutUs{
  text-align: center;
  background-color: aliceblue;
  width:100%;
}

#popup-window {
  position: fixed;
  width: 500px;
  height: 300px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}     

form > div {
  margin:20px;
}

@media all and (max-width:720px) {
  .header {
    display: flex;
    flex-direction: column;
    gap:0;
  }

  .hero{
    flex-direction: column-reverse;
  }

  .about{
    margin:0;
  }

  .header .logo{
    width:20%;
    align-self: center;
  }

  .courseDetails{
    margin:0;
    width:100%;
  }

  #program{
    display: flex;
    flex-direction: column;
  }

  .programDetails{
    width: 100%;
  }
  .price{
    width:100%;
  }
  .details{
    flex-direction: column;
  }

  #mentors{
    display: inline;
  }
  #popup-window {
    width: 300px;
    height: 300px;
  }
}



